header {
background-color: aqua;
}

footer {
background-color: aquamarine;
}

ul {
    margin: 0; padding: 10px;
   }
   li { display: inline; margin-right: 10px; }
   header a { 
    color: #333391;
   }

h1 {
color: rgb(65, 42, 165);
font-size: 25px;
text-shadow: 1px 1px 1px yellow,
             1px 1px 1px yellow;
}

table {
    border-collapse: separate;
    border-spacing: 10px 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 40%;
    width: 40%;
    border-collapse: collapse;
    text-align: left;
 }
 
 th {
    font-weight: normal;
    color: #039;
    background: #b9c9fe;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
  }
  td {
    color: #669;
    background: #e8edff;
    padding: 9px 8px;
    transition: .3s linear;
  }
  
  #text {
    color: rgb(4, 142, 27);
    text-align: center;
    }
    
    .text2 {
    color: red;
    }
    
    .text3 {
        color: #059;
        background-color: #BEF;
      }
      .tex34 {
        color: #270;
        background-color: #DFF2BF;
      }
      
      .rounded a {
        position: relative;
        display: block;
        padding: 0.4em 0.4em 0.4em 2em;
        margin: 0.5em 0 0 1.3em;
        background: #DAD2CA;
        color: #444;
        text-decoration: none;
        border-radius: 0.3em;
        transition: all .3s ease-out;
    }